environment="development"
http_addr=":8080"
log_level="info"
enable_application_profiler=false

[app_db]
max_open_conn=20
read_timeout_sec=1
write_timeout_sec=1
connection_lifetime_sec=10

[app_db.credential]
host="127.0.0.1:3306"
db_name="url_shortener"
username="root"
password="toor"


[coordination]
node_id="node_1"
range_size=100

[coordination.datastore]
max_open_conn=20
read_timeout_sec=1
write_timeout_sec=1
connection_lifetime_sec=10

[coordination.datastore.credential]
host="127.0.0.1:3306"
db_name="url_shortener"
username="root"
password="toor"